body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    max-width: 500px;
    background-color: #2A6CB6;
    border-radius: 15px;
}

#screen {
    display: flex;
    justify-content: right;
    background-color: rgb(213, 236, 236);
    margin: 4%;
    font-size: 48px;
    height: 52px;
}

#numAndOp {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    gap: 4px;
}

#operators {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    align-items: center;
    gap: 4px;
}

#operators button {
    background-color: #B1C3CD;
    width: 60%;
    height: 19.2%;
}

button {
    background-color: #E7E8EA;
    font-size: 32px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 10px 10px 0px black;
    transition: all 150ms ease;
    transform: translate(-3px, -3px);
}

#numbers button {
    width: 25%;
}

.equal {
    background-color: #0E4473;
    color: #E1F1FE;
}

.clear {
    background-color: rgb(168, 15, 15);
    margin-top: 10px;
}

button:hover {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px black;
}

@media (max-width: 767px) {
    button {
        font-size: 1.3rem;
    }
}